video{
    position: absolute;
    max-width: 850px;
    max-height: 475px;
    right: 25px;
    top: 10px;
}
input[type='range']{
    position: relative;
    width: 450px;
}
#timeCurrent, #volume, #tempoTotal{
    font-size: 20px;
}
*{
    background: #363636;
    color: #fff;
}
#titulo{
    position: absolute;
    font-size: 35px;
    bottom: 25px;
    right: 25px;
}